*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#070b12;
  color:white;
  font-family:Arial,sans-serif;
  padding:18px;
}

.container{
  max-width:1100px;
  margin:auto;
}

h1{
  font-size:32px;
  margin-bottom:10px;
}

h2{
  margin-bottom:15px;
}

.desc{
  color:#9cb0c5;
  line-height:1.7;
  margin-bottom:20px;
}

.card{
  background:#101720;
  border:1px solid #223242;
  border-radius:18px;
  padding:18px;
  margin-bottom:20px;
}

input[type=file]{
  width:100%;
  padding:16px;
  border-radius:12px;
  border:none;
  background:#091018;
  color:white;
}

.video-wrap{
  display:none;
}

.video-stage{
  position:relative;
  overflow:hidden;
  border-radius:14px;
  background:black;
}

video{
  width:100%;
  display:block;
}

.dark{
  position:absolute;
  background:rgba(0,0,0,.75);
  pointer-events:none;
}

#cropBox{
  position:absolute;
  border:3px solid #00d2ff;
  background:rgba(0,210,255,.12);
}

#cropLabel{
  position:absolute;
  top:6px;
  left:6px;
  background:black;
  color:#00d2ff;
  font-size:11px;
  padding:4px 7px;
  border-radius:6px;
}

#moveArea{
  position:absolute;
  inset:0;
  cursor:move;
}

.handle{
  position:absolute;
  background:#00d2ff;
}

.handle.top,
.handle.bottom{
  left:0;
  right:0;
  height:22px;
  cursor:ns-resize;
}

.handle.left,
.handle.right{
  top:0;
  bottom:0;
  width:22px;
  cursor:ew-resize;
}

.handle.top{
  top:-11px;
}

.handle.bottom{
  bottom:-11px;
}

.handle.left{
  left:-11px;
}

.handle.right{
  right:-11px;
}

.controls{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
  margin-top:15px;
}

button{
  border:none;
  background:#00d2ff;
  color:black;
  padding:14px 18px;
  border-radius:12px;
  font-weight:700;
  cursor:pointer;
}

button:hover{
  opacity:.9;
}

.info{
  margin-top:12px;
  color:#90a5b9;
  line-height:1.8;
}

#ocrPreview{
  color:#00ff9d;
  line-height:1.8;
  white-space:pre-wrap;
  font-size:20px;
  min-height:80px;
}

#status{
  margin-top:12px;
  color:#9cb0c5;
}

#cleanCanvas{
  width:100%;
  background:black;
  border-radius:12px;
}

textarea{
  width:100%;
  height:250px;
  background:#091018;
  border:1px solid #223242;
  border-radius:12px;
  padding:15px;
  color:#00ff9d;
  line-height:1.7;
  margin-top:15px;
}

progress{
  width:100%;
  height:20px;
  margin-top:15px;
  }
